@import './colors.scss';
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.home-section{
    background-image: url('https://res.cloudinary.com/bahati/image/upload/v1572369522/nkl4cpwbzpd0zatxt0k8.jpg');
    width: 100%;
    min-height: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: absolute;
    left: 0px;

    
    h1{
        width: 40%;
        margin: auto;
        color: black;
        position: relative;
        top: 15vh;
        font-family: fantasy;
        font-size: 2em;
    }
    a{
        position: relative;
        left: 40vw;
        top: 20vh;  
        font-size: 30px; 
    }
    button:hover{
        background-color: $main-color;
        color: whitesmoke;
    }
    button{
        font-size: 30px; 
    }
}
.bottom{
    position: absolute;
    z-index: -2;
    left: 0px;
    width: 100%;
    top: 60vh;
    height: 50vh;
    background-color: $main-color;
}
.header {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    background-color: $main-color;
    font-family: verdana, sans-serif;
    padding: 0px 30px 0px 10px;
    * {
        color: $text-color
    }
    .navLinks {
        right: 0px;
        display: flex;
        justify-content: space-evenly;
        width: 40%;
        padding-right: 25px;
        list-style-type: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: 25px;
        a:hover{
            border-bottom: 2px solid white;
            cursor: hand;
        }

    }
}

.shadow-overlay {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mid-large{
    width: 100%;
    img{
        width: 50%;
        margin-top: 30vh;
        margin-left: 22%;
    } 
}

.logo-txt {
    display: flex;
    padding-right: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.box {
    margin-top: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.products-page {
    display: grid;
    grid-template-columns: auto auto;
}
.side {
    margin-top: 5px;
    border-radius: 10px;
}
.button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid $main-color;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}
.primary {
    background-color: $main-color;
    color: white;
}
.buy {
    width: 70px;
    background-color: $main-color;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    a {
        color: white;
    }
}

.img-container {
    box-sizing: border-box;
    img{
        width: 100%;
        border-radius: 4px;
    }
}
.col-1 {
    width: 50%;
    float: left;
}
.col-2 {
    width: 48%;
    float: left;
    padding-left: 10px;
}

.row::after, .product-container::after, .products-page::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 800px){
.products-page {
    grid-template-columns: auto;
}
}

.form {
    margin-top: 10px;
    padding: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
    overflow: auto;
}
input, select, textarea {
    width: 100%;
    padding: 0.1em;
    margin: 2px;
    font-size: 1.2em;
    border-radius: 0.1em;
    color: #115674;
    border-left: 3px solid rgba(42, 58, 92, 0.8);
}
#forgot-password {
    font-family: courier;
    text-align: right;
}
.sign-in {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: courier;
}
.create, .create a {
    display: block;
    color: #115674;
    width: 50%;
    height: 2.5em;
    margin-left: auto;
    margin-right: auto;
}
.product-title{
    font-family: courier;
    font-size: 1.1em;
    a{
        color: black;
    }
}
.side-bar a{
    margin: 2px;
    display: inline
}

.create-container{
    width: 80%;
    margin: auto;
    *{
        margin-bottom: 30px
    }
}
input{
    outline-style: none;
}
.create-title{
    width: 50%;
    margin: 50px auto;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 800px){
    .create-container{
        width: 100%;
        *{
            margin-bottom: 15px
        }
    }
    .create-title{
        width: 80%;
        margin: 30px auto;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    }